<!doctype html>
<head>
	<title>Flask Sample Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>
	<div class="login">
	<h1>Login</h1>
    <form action="/login" method="post">
    	<input type="text" name="username" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <div style = "color : red"> {{ error }} <br> </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>
</body>
