<!doctype html>
<head>
	<title>Search</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>
	<div class="login">
		<h1>Search</h1>
	    <form action="/search" method="get">
	    	<input type="text" name="query" placeholder="Search here" required="required" />
	        <button type="submit" class="btn btn-primary btn-block btn-large">search</button>
	    </form>
		<p> {{ content }} </p>
	</div>
</body>
